
<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">

    <div class="articles__main">
    <app-big-card 
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJr-HJUNmSq1K1-PjByH0LHeF_H2eABEnq6A&s"
    cardTitle="TESTE"
    cardDescription="TESTE TESTE"
    >

    </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        cardTitle="teste 1"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAxQJBSNg9JO1iMK1wdrU4Ylp0CxciU8fXQw&s"
        >
        </app-small-card>

        <app-small-card
        cardTitle="teste 2"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAxQJBSNg9JO1iMK1wdrU4Ylp0CxciU8fXQw&s"
        >

        </app-small-card>

        <app-small-card
        cardTitle="teste 3"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAxQJBSNg9JO1iMK1wdrU4Ylp0CxciU8fXQw&s"
        >

        </app-small-card> 
    </div>

</div>