<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">

    <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR71vddKnzhXNXmSYH7MoOtwlUHNRBQKvaM3g&s"
    cardTitle="O que é Programação?"
    cardDescription="A programação é a arte de criar software e sistemas através da escrita de código. Linguagens como Python, JavaScript e C++ são amplamente usadas para resolver problemas e desenvolver soluções tecnológicas."
    >
    </app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card
        Id="2"
        cardTitle="Inteligência Artificial com Python"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuO6dF0nnYWwORxnlb3aRrlEhFNNi_QVm0mQ&s"
        >
        </app-small-card>

        <app-small-card
        Id="3"
        cardTitle="Desenvolvimento Web com Angular"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN78CbmPgxB6D8ETLwJoQ3RR_0WMUD0yTbZw&s"
        >
        </app-small-card>

        <app-small-card
        Id="4"
        cardTitle="Banco de Dados SQL e NoSQL"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdN-nK9iNVUDe5LAAmUZjcjTRc49MlvHkvEw&s"
        >
        </app-small-card> 
    </div>

</div>