<div class="container__menu-bar">
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-oliveira-carvalho/" target="_blank">
                LinkedIn
            </a>
        </li>
        <li><span>•</span></li>
        <li>
            <a href="https://github.com/JP-OliveiraDev" target="_blank">
                GitHub
            </a>
        </li>
        <li><span>•</span></li>
        <li>
            <a href="https://instagram.com" target="_blank">
                Instagram
            </a>
        </li>
    </ul>
</div>

